<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="LaravelTeamsLogger">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEAMS_WEBHOOK_URL" value=""/>
    </php>
</phpunit>